* {

    font-family: "Roboto Mono", monospace;
    background: rgb(255, 205, 161);
}

.welcome {

    color: rgb(87, 150, 87);
    text-align: center;
    text-shadow: 4px 4px floralwhite;
    text-transform: lowercase;
}

.flexbox-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.uname-flex{
    
    width: 250px;
    margin: 20px;
    color: rgb(87, 150, 87);
    text-transform: lowercase;
    border: 1px dashed floralwhite;
    padding: 15px;
    

}

.pass-flex{
    
    width: 250px;
    margin: 20px;
    color: rgb(87, 150, 87);
    text-transform: lowercase;
    border: 1px dashed floralwhite;
    padding: 15px;
    
}
